input[type="text"],
input[type="password"] {
	background-color: black;
	color: white;
	margin-bottom: 30px;
	margin-top: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus {
	background-color: black;
	color: white;
}

button[type="button"] {
	margin-top: 20px;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
}

.titolo {
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 30px;
}

#login-form {
	margin: auto;
	background-color: black;
	color: white;
	width: 400px;
	height: 480px;
	border-radius: 20px;
	padding: 50px;

	/* shadows */
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.dropdown-item {
	user-select: none;
}

.card {
	margin-bottom: 50px;
	/* shadows */
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.col {
	margin-bottom: 50px;
}

.fa-eye,
.fa-eye-slash {
	margin-top: 25px;
	margin-left: 10px;
}
