html,
body {
	height: 100%;
}

.content {
	padding: 90px 50px 0px 50px;
	min-height: 100%;
}

footer,
.push {
	margin-top: 30px;
	width: 100%;
	height: 150px;
	vertical-align: center;
	background: black;
	color: white;
}

/* centro verticalmente gli elementi del footer */

footer .center {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* adatto l'altezza del footer per i dispositivi mobili */

@media only screen and (max-width: 768px) {
	footer,
	.push {
		margin-top: 30px;
		width: 100%;
		height: 400px;
		vertical-align: center;
		background: black;
		color: white;
	}
	.content {
		padding: 150px 20px 0px 20px;
		min-height: 100%;
	}
}

.navbar {
	background-color: black;
	color: white;
	margin-bottom: 20px;
}

.navbar-brand {
	font-weight: bold;
	margin-left: 100px;
}

.navbar-nav {
	margin-right: 80px;
}

.nav-link {
	color: white;
	margin-right: 20px;
}
